@charset "utf-8";
/* CSS Document */


/*############################## */
/*####Common Tag Rules########## */
/*############################## */

body {
    margin: 0px;
    font-family: Roboto;
}

p {}
a {}
a:hover {}

h1, h2, h3, h4, h5, h6 {font-family: Roboto;}

/*############################## */
/*###### Heading Rules ######### */
/*############################## */

h2.siteTitle{
    margin: 0px;
    padding: 15px 0px 0px 15px;
}

h3.qTitle{
    margin: 0px;
    padding: 0px;
}
/*############################## */
/*##########Wrap Rules########## */
/*############################## */

.wrapOverall {
    /*width:900px;*/
    border-left:1px solid #999999;
    border-right: 1px solid #999999;
    margin: 0px 30px;
}
.wrapContent {

}

/*############################## */
/*######Basic Templates######### */
/*############################## */

.header{
    background-color: #DFDFDF;
    border-right: 1px solid #999999;
    height: 60px;
}
.content{
    /*width: 660px;*/
    /*float: right;*/
    border-left:1px dotted #999999;
    padding: 0px 20px;
}
.footer{
    background-color: #EFEFEF;
    clear: both;
    margin: 0px;
    padding: 4px;
    border-top:1px dotted #999999;
}

.footer p{
    margin: 0px;
    padding: 0px;
}

/*!*############################## *!*/
/*!*######Side Navigation Rules### *!*/
/*!*############################## *!*/

/*.sideNav {*/
    /*width: 199px;*/
    /*float: left;*/
/*}*/

/*.sideNav ul {*/
    /*margin: 0px;*/
    /*padding: 0px;*/
/*}*/

/*.sideNav ul li {*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*list-style: none;*/
    /*border-bottom: 1px solid #999999;*/
/*}*/

/*.sideNav ul li a{*/
    /*margin: 0px;*/
    /*padding: 2px 0px 2px 4px;*/
    /*text-decoration: none;*/
/*}*/

/*.sideNav ul li a:hover{*/
    /*background-color: #EFEFEF;*/
/*}*/

/*############################## */
/*######Custom Element Rules#### */
/*############################## */

.entry{
    margin: 30px;
}

.widthSet {
    max-width: 300px;
}

.heightSet {
    max-height: 100px;
}

.fm-form .submit {
    height: 75px;
    width: 150px;
    font-size: 34px;
    font-family: Roboto;
}